<section id="content">
  <table class="table table-bordered">
  	<thead>
  		<th class="left"><h3>Service</h3></th>
  		<th class="highlight"><h3>Current</h3></th>
  		<% 5.times do |i| %>
  			<th><h3><%= (Time.now - 60*60*24*(i+1)).to_formatted_s(:month_and_day) %></h3></th>
  		<% end %>
  	</thead>
  	<tbody>
  		<% unless @statuses.nil?
  			@statuses.keys.each do |name| %>
  		<tr>
  			<td class="left"><%= link_to name, CGI::escape(name) %></td>
  			<td class="highlight">
					<%= link_to image_tag(@statuses[name][0].image, {:class => 'sym', :alt => ''}), service_events_path(@statuses[name][0].service_id) %>
  			</td>
  			<% 5.times do |i| %>
  				<td>
						<%= image_tag(@statuses[name][i+1].image, {:class => 'sym', :alt => ''}) %>
          </td>
  			<% end %>
  		</tr>
  		<% end
  		end %>
  	</tbody>
  </table>
  
  <div id="legend">
    <h4>Status Legend</h4>
    <ul class="clearfix">
      <% @legend_statuses.each do |status| %>
      <li>
        <%= image_tag(status.image) %>
        <p><%= status.name %></p>
      </li>
      <% end %>
    </ul>
  </div>
</section>