= simple_form_for @event do |f|
  = render 'shared/error_msg', model: @event
  = f.input :message, :input_html => {:class => "span6"}
  = f.association :status, :include_blank => false, :input_html => {:class => "span6"}
  = f.input :service_id, :as => :hidden, :input_html => { :value => @service.id }
  = f.button :submit, :class => "btn-primary"